{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h2>List of Connascences</h2>
{% endblock %}

<ol id="post-list">
{% for article in articles_page.object_list if article.category == 'connascence' %}
    <li><article class="hentry">
            <header>
                <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            </header>
            <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
    </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
