{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h1>What is Connascence?</h1>
				<p>Connascence is a software quality metric &amp; a taxonomy for different types of coupling. <br />
				<small>This site is a handy reference to the various types of connascence, with examples to help you improve your code.</small></p>
		</div>
		<h3>Subject to Change</h3>
		<p><em>All code</em> is subject to change. As the real world changes, so too must our code. Connascence gives us an insight into the long-term impact our code will have on flexibility, as we write it. Maintaining a flexible codebase is essential for maintaining long-term development velocity.</p>

		<h3>A Flexible Metric</h3>
		<p>Connascence is a metric, and like all metrics is an imperfect measure. However, connascence takes a more holistic approach, where each instance of connascence in a codebase must be considered on three separate axes:</p>
		<ol>
			<li><a href="/strength.html">Strength</a>. Stronger connascences are harder to discover, or harder to refactor.</li>
			<li><a href="/degree.html">Degree</a>. An entity that is connascent with thousands of other entities is likely to be a larger issue than one that is connascent with only a few.</li>
			<li><a href="/locality.html">Locality</a>. Connascent elements that are close together in a codebase are better than ones that are far apart.</li>
		</ol>
		<p>The three properties of Strength, Degree, and Locality give the programmer all the tools they need in order to make informed decisions about when they will permit certain types of coupling, and when the code ought to be refactored.</p>

		<h3>A Vocabulary for Coupling</h3>
		<p>Arguably one of the most important benefits of connascence is that it gives developers a vocabulary to talk about different types of coupling. Connascence codifies what many experienced engineers have learned by trial and error: Having a common set of nouns to refer to different types of coupling allows us to share that experience more easily.</p>
	</div>
</div>
{% endblock content %}
